<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.GuestMapper">
	<select id="getList" resultType="com.project.dto.GuestDto">
		SELECT * from tbl_guest limit #{offset}, #{rowCount}
	</select>
	
	<select id="getPostCount" resultType="int">
		SELECT count(*) from tbl_guest
	</select>

	<select id="getSearchList" resultType="com.project.dto.GuestDto">
		SELECT * from tbl_guest where btext like CONCAT('%', #{word}, '%') limit #{offset}, #{rowCount}
	</select>
	
	<select id="getSearchPostCount" resultType="int">
		SELECT count(*) from tbl_guest where btext like CONCAT('%', #{word}, '%')
	</select>
	
	<select id="read" resultType="com.project.dto.GuestDto">
		SELECT * from tbl_guest where bno = #{bno}
	</select>
	
	<delete id="del">
		DELETE from tbl_guest where bno = #{bno}
	</delete>
	
	<insert id="write">
		INSERT into tbl_guest (btext) values (#{btext})
	</insert>
	
	<update id="modify">
		UPDATE tbl_guest set btext = #{btext} where bno = #{bno}
	</update>

	<insert id="reg">
		INSERT into tbl_member (id,pw) values (#{id},#{pw})
	</insert>	
	
	<select id="regCount" resultType="int">
		SELECT count(*) from tbl_member where id = #{id} and pw = #{pw}
	</select>
	
	<select id="log" resultType="com.project.dto.AccountDto">
		SELECT * from tbl_member where id = #{id} and pw = #{pw}
	</select>
	
	<select id="logCount" resultType="int">
		SELECT count(*) from tbl_member where id = #{id} and pw = #{pw}
	</select>
</mapper>	